body {
    font-family: "Inter", sans-serif;
    line-height: 1.4;
}

.banner1 {
    background-image: url("/img/banner1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    height: 600px;
}

.banner-opaque {
    background-image: url("/img/banner1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.5);
}

.section-heading::after {
    content: "";
    position: relative;
    display: block;
    left: 0;
    bottom: -10;
    width: 125px;
    background-color: rgb(29, 72, 167);
    height: 2px;
    margin-top: -1px;
}

.hover-underline {
    position: relative;
}

.hover-underline:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline:hover:after,
.hover-underline.selected:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.text-shadow {
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.85);
}

.fade-in {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
