---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Hencol Business Advisory - About Us">
    <main>
        <section class="banner-opaque">
            <div class="flex items-center justify-center h-full">
                <h2 class="text-6xl text-white">About Us</h2>
            </div>
        </section>

        <section class="bg-amber-300 text-lg py-8 section-triangle">
            <div class="max-w-7xl mx-auto">
                <h3 class="text-4xl text-center">Hencol Business Advisory</h3>
                <p class="py-3">
                    Established in 2019 we specialise in providing business advice to small and medium sized businesses
                    on the Mid North Coast of New South Wales and across Australia. Our focus is on providing tailored
                    business advice and solutions to help grow your business and achieve your life goals. We work with
                    other professionals to achieve the best possible outcomes for our clients.
                </p>
            </div>
        </section>

        <section class="bg-gray-200 text-lg py-8">
            <div class="max-w-7xl mx-auto">
                <h3 class="text-4xl">Our Business Services Include</h3>
                <ul>
                    <li>Business Advisory</li>
                    <li>Accounting and Taxation Advice</li>
                    <li>Superannuation Services</li>
                    <li>Property Services</li>
                    <li>Business Structuring</li>
                    <li>Trust Account Audits</li>
                    <li>Bookkeeping Services</li>
                </ul>
            </div>
        </section>
    </main>
</Layout>
