<footer class="bg-white text-gray-800 text-lg py-8">
    <div class="content text-center">
        <h3 class="text-2xl">Connect With Us On</h3>
        <p>
            Email: <a class="text-blue-600 hover-underline" href="mailto:admin@hencol.com.au">Admin@hencol.com.au</a>
        </p>
        <p>Phone: <a class="text-blue-600 hover-underline" href="tel:+61434481248">0434 481 248</a></p>
        <div class="flex justify-center">
            <a href="mailto:admin@hencol.com.au"><i class="fa-regular fa-envelope fa-2x px-2"></i></a>
            <a href="https://au.linkedin.com/in/peter-collar-90b15438"
                ><i class="fa-brands fa-linkedin fa-2x px-2"></i>
            </a>
            <a href="https://twitter.com/petercollar"><i class="fa-brands fa-twitter fa-2x px-2"></i></a>
        </div>
        <p>
            Site built by <a class="text-blue-600 hover-underline" href="https://www.dylancollar.com">Dylan Collar</a>
        </p>
    </div>
</footer>
