<nav class="border-slate-400 border-b-2 bg-white sticky top-0">
    <div class="h-20 w-full max-w-7xl mx-auto flex items-center justify-between flex-wrap">
        <div class="w-1/4 flex items-center justify-start">
            <img class="h-10 px-3" src="img/Hencol_logo.png" />
            <h1 class="text-4xl font-bold">Hencol</h1>
        </div>
        <div class="w-3/4 flex items-center justify-between">
            <ul class="flex flex-wrap items-center justify-end w-full">
                <li>
                    <a href="/" class="block text-slate-800 font-bold text-xl m-2 hover-underline after:bg-slate-800">
                        Home
                    </a>
                </li>
                <li>
                    <a
                        href="/about.html"
                        class="block text-slate-800 font-bold text-xl m-2 hover-underline after:bg-slate-800"
                    >
                        About Us
                    </a>
                </li>
                <!-- <li>
                <a
                    href="/services"
                    class="block text-slate-800 font-bold text-xl m-2 hover-underline after:bg-slate-800">
                    Services
                    </a>
            </li>
            <li>
                <a href="/careers" class="block text-slate-800 font-bold text-xl m-2 hover-underline after:bg-slate-800"
                    >Careers</a
                >
            </li> -->
                <li>
                    <a
                        href="/contact"
                        class="block text-slate-800 font-bold text-xl m-2 hover-underline after:bg-slate-800"
                    >
                        Contact
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
