<nav class="content flex items-center justify-between py-2 px-8 h-20 w-full flex-wrap">
    <div class="w-1/4 flex items-center justify-start">
        <img class="h-10 px-3" src="img/Hencol_logo.png" />
        <h1 class="text-4xl font-bold">Hencol</h1>
    </div>
    <div class="w-3/4 flex items-center justify-between">
        <ul class="flex flex-wrap items-center justify-end w-full">
            <li>
                <a href="/" class="block text-gray-800 font-bold text-xl m-2 hover-underline"
                    >Home</a
                >
            </li>
            <li>
                <a
                    href="/about.html"
                    class="block text-gray-800 font-bold text-xl m-2 hover-underline">About Us</a
                >
            </li>
            <li>
                <a
                    href="/services"
                    class="block text-gray-800 font-bold text-xl m-2 hover-underline">Services</a
                >
            </li>
            <li>
                <a href="/careers" class="block text-gray-800 font-bold text-xl m-2 hover-underline"
                    >Careers</a
                >
            </li>
            <li>
                <a href="/contact" class="block text-gray-800 font-bold text-xl m-2 hover-underline"
                    >Contact</a
                >
            </li>
        </ul>
    </div>
</nav>
