<div class="rounded h-full drop-shadow border-slate-800 w-full border p-5">
    <div class="flex justify-center mb-10">
        <div class="w-1/3 p-6 flex justify-center align-center rounded-full bg-dark-red">
            <img class="w-full filter-white" src={Astro.props.src} />
        </div>
    </div>
    <div>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse a sagittis neque. Nulla ligula mi,
            volutpat quis bibendum ac, rhoncus ac nisl. Sed auctor scelerisque urna sed posuere. Donec blandit vitae
            mauris at gravida. Fusce ac turpis nisl. Vivamus eu ipsum vehicula urna accumsan imperdiet.
        </p>
    </div>
</div>
