@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Cabin", sans-serif;
    line-height: 1.4;
}

.banner1 {
    background-image: url("../img/banner1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    height: 600px;
}

.content {
    max-width: 986px;
    margin: 0 auto;
}
